.wrapper {
	border: 5px solid rgb(95, 38, 160);
	border-radius: 10px;
	padding: 20px 40px;
	margin-top: 50px;
	box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.5);

	.title {
		text-align: center;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		& input {
			font-size: 16px;
			border: 2px solid rgb(22, 56, 206);
			border-radius: 5px;
			padding: 10px 40px;

			&:focus {
				border: 2px solid rgb(45, 184, 189);
				outline: none;
			}
		}

		.message {
			padding-bottom: 200px;
		}

		.button {
			background: rgb(95, 38, 160);
			color: white;
			padding: 15px 35px;
			border-radius: 15px;
			border: none;

			&:disabled {
				background-color: #e0e0e0ef;
				outline: none;
				color: #000000;
			}

			&:hover {
				box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.5);
				transition: 0.5s all ease;
				cursor: pointer;
			}
		}
	}
}
.validate {
	color: red;
}
