.App {
  text-align: center;
  

}

.button{
  position: absolute;
  bottom: 200px;
  left: 900px;
  background: rgb(95, 38, 160);
			color: white;
			padding: 15px 35px;
			border-radius: 15px;
			border: none;
}

.button:hover{
 box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
				transition: 0.5s all ease;
				cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
